{% extends 'form_div_layout.html.twig' %}

{# errors #}
{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <p class="alert-message warning">
        {% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br/>
        {% endfor %}
    </p>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{# i18n & required #}
{% block field_label %}
    {#{ parent() }#}
    {% spaceless %}
    <label for="{{ id }}">
      {{ id|replace({'_':'.'})|trans }}
      {% if required %}
          <span class="required" title="This field is required">*</span>
      {% endif %}
    </label>
    {% endspaceless %}
{% endblock %}



{# help #}
{% block field_widget %}
    {{ parent() }}

    {% if help is defined %}
        <span class="help-block">{{ help }}</span>
    {% endif %}
{% endblock %}


{# checkbox #}
{% block checkbox_widget %}
<div class="btn-group">
	<label class="btn" for="{{ name }}-radio1">Yes</label>
	<input class="hide" type="radio" id="{{ name }}-radio1" name="{{ name }}-radio" checked="checked" />
	<input class="hide" type="radio" id="{{ name }}-radio2" name="{{ name }}-radio" />
	<label class="btn" for="{{ name }}-radio2">No</label>
</div>
{% endblock %}


{# percent #}
{% block percent_widget %}
<input type="text" id="slider_percent" name="{{ name }}" value="50" class="disabled" style="color:black;background:white;border:0;box-shadow:0;width:20px;display:inline-block;" placeholder="Disabled" disabled/>%
<div class="sliders" id="{{ name }}" style="width:300px;"></div>
{% endblock %}


{# file #}
{% block file_widget %}
<div class="input-append customfile"><span class="customfile-feedback span3" aria-hidden="true">No file selected...</span><span class="add-on customfile-button" aria-hidden="true" style="float: right; ">Browse</span></div>
{% endblock %}